In [17]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
cityDataDF = pd.read_csv(city_data_to_load)
rideDataDF = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
pyberDataDF = pd.merge(cityDataDF, rideDataDF, how="outer", on="city")

# Display the data table for preview
pyberDataDF.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [23]:
#Average Fare per city
pyberDataDF_gby_city = pyberDataDF.groupby(by='city')
averageFarePerCity = pyberDataDF_gby_city['fare'].mean()

city
Amandaburgh      24.641667
Barajasview      25.332273
Barronchester    36.422500
Bethanyland      32.956111
Bradshawfurt     40.064000
Name: fare, dtype: float64

In [88]:
#Total no. of rides per city
totalRidesPerCity = pyberDataDF_gby_city['ride_id'].count()
totalRidesPerCity.head()

array([18, 22, 16, 18, 10, 19, 27, 27, 22, 17, 19,  9, 17, 29, 13, 27, 12,
        3, 25, 15,  6, 24, 28, 25,  6, 21, 25, 27, 30, 17, 28, 12, 26,  6,
       24, 11, 14, 25, 18, 24, 21, 12, 17, 33, 28, 24, 17, 12, 16, 18, 30,
       17, 19, 22, 22,  6, 17,  4, 19, 22,  9,  8, 30, 35, 13, 25, 14, 14,
       15, 21,  5, 19, 22, 33, 22, 25, 19,  5, 25, 19, 28, 24, 20, 23, 15,
       22, 30, 24, 11, 24, 31, 19,  7, 38, 19,  8, 31, 31,  4, 22,  6, 22,
       17, 14, 39, 30, 26, 18, 23, 21,  9, 28, 26, 20, 16, 31, 25, 14, 23,
       20])

In [87]:
#Total no. of drivers per city
totalDriversPerCity = pyberDataDF_gby_city['driver_count'].unique()
totalDriversPerCity.head()

city
Amandaburgh      [12]
Barajasview      [26]
Barronchester    [11]
Bethanyland      [22]
Bradshawfurt      [7]
Name: driver_count, dtype: object

In [79]:
#Types of city
typesOfCity = pyberDataDF['type'].value_counts()
typesOfCity

Urban       1625
Suburban     625
Rural        125
Name: type, dtype: int64

## Bubble Plot of Ride Sharing Data

In [ ]:
# Obtain the x and y coordinates for each of the three city types

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()